$primary-text-color: #000000;
$secondary-text-color: #FFFFFF;
$primary-color: #FF6B08;
$accent-color: #FF001B;
$footer-text-color: #545454;

$primary-bg-color: #E5E5E5;
$secondary-bg-color: #F7F7F7;

$header-bg-color: rgba(0, 0, 0, 0.56);
$modal-bg-color: rgba(0, 0, 0, 0.25);


$fontPrimary: Roboto, sans-serif;