<div class="backdrop__modal is-hidden" id="backdrop__modal">
  <div class="modal__body js-close-modal">
    <div class="modal__content">
      <button class="modal__content-close" type="button" data-modal-close-contacts>&#10060</button>
      <h2 class="modal__title">Our team</h2>

      <div class="main">
        <figure class="icon-cards">
          <div class="icon-cards__content">

            <div class="icon-cards__item">
              <img src="./images/cards1.jpg" class="img-responsive" alt="">
              <h2>Oleh Poliakov</h2>
              <p class="icon-cards___title">Front-end Developer</p>
              <p><a href="https://github.com/OlehPoliakov" target="_blank" class="icon-cards__button">Contact</a></p>
            </div>

            <div class="icon-cards__item">
              <img src="./images/cards2.jpg" class="img-responsive" alt="">
              <h2>Egor Rybin</h2>
              <p class="icon-cards___title">Front-end Developer</p>
              <p><a href="https://github.com/EgorRybin" target="_blank" class="icon-cards__button">Contact</a></p>
            </div>

            <div class="icon-cards__item">
              <img src="./images/cards3.jpg" class="img-responsive" alt="">
              <h2>Igor Kolotiuk</h2>
              <p class="icon-cards___title">Front-end Developer</p>
              <p><a href="https://github.com/Kolotiuk" target="_blank" class="icon-cards__button">Contact</a></p>
            </div>

            <div class="icon-cards__item">
              <img src="./images/cards4.jpg" class="img-responsive" alt="">
              <h2>Anton Alutin </h2>
              <p class="icon-cards___title">Front-end Developer</p>
              <p><a href="https://github.com/unclegrove/" target="_blank" class="icon-cards__button">Contact</a></p>
            </div>

            <div class="icon-cards__item">
              <img src="./images/cards5.jpg" class="img-responsive" alt="">
              <h2>Yevhen Savchuk </h2>
              <p class="icon-cards___title">Front-end Developer</p>
              <p><a href="https://github.com/JS1170" target="_blank" class="icon-cards__button">Contact</a></p>
            </div>

          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
