.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 216px;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/header/home-header-desk@2x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__is-active {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 216px;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/header/library-header-desk@2x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__nav {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    width: 100%;
    gap: 630px;
  }
}

.header__link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  text-decoration: none;

  color: $secondary-text-color;
  transition: color, transform;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.header__text {
  margin-left: 10px;

  font-family: $fontPrimary;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  color: $secondary-text-color;
}

.header__list {
  display: flex;
  gap: 39px;
}

.header__item {
  list-style: none;
}

.header__btn {
  cursor: pointer;
  background-color: inherit;
  border: none;
  padding: 0;

  font-family: $fontPrimary;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;
  color: $secondary-text-color;

  &:hover,
  &:focus {
    color: darkgray;
    transition: color 500ms;
    transform: scale(1.1);
    animation: transition 1500ms linear;
  }
}

.header__btn.current {
  position: relative;
}

.header__btn.current::after {
  position: absolute;
  top: 15px;
  display: block;
  content: '';
  height: 3px;
  width: 100%;
  background-color: $accent-color;
}

.form {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $secondary-text-color;

  transition-property: transform, color;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    color: $secondary-text-color;
    transform: scale(1.15);
  }
}

.form__input {
  min-width: 394px;

  color: inherit;
  background-color: transparent;
  outline: unset;
  border: none;
  border-bottom: 0.3px solid $secondary-text-color;

  &:hover,
  &:focus {
    border-bottom: 1px solid darkgray;
    transition: border-bottom 500ms;
  }
}

input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;

  color: $secondary-text-color;
}

.form__btn {
  position: relative;
  left: -18px;
  bottom: -3px;

  padding: 10px 0;

  border: none;
  background-color: transparent;
  color: transparent;
}

.library {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.library__btn {
  padding: 12px 41px;
  width: 147px;
  height: 42px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: $secondary-text-color;

  font-family: $fontPrimary;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;

  transition: color, transform;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    background-color: $primary-color;
    border: none;
    transform: scale(1.1);
    animation: transition 0.2s ease-out;
  }
}

.btn-js-active {
  background-color: $primary-color;
  border: none;
}
