.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    height: 230px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/header/home-header-mob@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: $tablet) {
    height: 216px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/header/home-header-tab@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: $desktop) {
    height: 216px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/header/home-header-desk@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header__is-active {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    height: 230px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/header/library-header-mob@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: $tablet) {
    height: 216px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/header/library-header-tab@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: $desktop) {
    height: 216px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/header/library-header-desk@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $mobile) {
    margin-top: 10px;
  }

  @media screen and (min-width: $tablet) {
    align-items: flex-end;
    width: 100%;
    gap: 150px;
    margin-top: 40px;
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
    gap: 590px;
    margin-top: 40px;
  }
}

.header__link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  text-decoration: none;

  color: $secondary-text-color;
  transition: color, transform;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.header__text {
  font-family: $fontPrimary;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  color: $secondary-text-color;

  @media screen and (min-width: $mobile) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: 10px;
  }
}

.header__list {
  @media screen and (min-width: $mobile) {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.header__item {
  list-style: none;
}

.header__ref {
  cursor: pointer;
  background-color: inherit;
  border: none;
  padding: 0;

  font-family: $fontPrimary;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-text-color;

  &:hover,
  &:focus {
    color: darkgray;
    transition: color 500ms;
    transform: scale(1.1);
    animation: transition 1500ms linear;
  }
}

.header__ref.current {
  position: relative;
}

.header__ref.current::after {
  position: absolute;
  top: 15px;
  display: block;
  content: '';
  height: 3px;
  width: 100%;
  background-color: $accent-color;
}

.form {
  margin-top: 40px;
  display: flex;
  align-items: center;

  color: $secondary-text-color;

  transition-property: transform, color;
  transition-duration: 250ms;
  transition-timing-function: linear;

  @media screen and (min-width: $mobile) {
    justify-content: space-between;
    margin-top: 10px;
  }

  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-top: 40px;
  }

  @media screen and (min-width: $tablet) {
    &:hover,
    &:focus {
      color: $secondary-text-color;
      transform: scale(1.15);
    }
  }
}

.form__input {
  color: inherit;
  background-color: transparent;
  outline: unset;
  border: none;
  border-bottom: 0.3px solid $secondary-text-color;

  &:hover,
  &:focus {
    border-bottom: 1px solid darkgray;
    transition: border-bottom 500ms;
  }

  @media screen and (min-width: $mobile) {
    min-width: 280px;
  }

  @media screen and (min-width: $tablet) {
    min-width: 336px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 394px;
  }
}

input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;

  color: $secondary-text-color;
}

.form__btn {
  position: relative;
  left: -18px;
  bottom: -3px;

  padding: 10px 0;

  border: none;
  background-color: transparent;
  color: transparent;
}

.library {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: $mobile) {
    margin-top: 20px;
    gap: 20px;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 40px;
    gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 40px;
    gap: 16px;
  }
}

.library__btn {
  padding: 12px 41px;
  width: 147px;
  height: 42px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: $secondary-text-color;

  font-family: $fontPrimary;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;

  transition: color, transform;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    background-color: $primary-color;
    border: none;
    transform: scale(1.1);
    animation: transition 0.2s ease-out;
  }

  @media screen and (min-width: $mobile) {
    width: 130px;
    height: 44px;
  }

  @media screen and (min-width: $tablet) {
    width: 152px;
    height: 44px;
  }

  @media screen and (min-width: $desktop) {
    width: 148px;
    height: 42px;
  }
}

.btn-js-active {
  background-color: $primary-color;
  border: none;
}

.header__btn-signup {
  @media screen and (min-width: $mobile) {
    padding: 0;
    background-image: none;
    background-color: inherit;
    color: $secondary-text-color;
  }

  @media screen and (min-width: $tablet) {
    transition: background-color 0.3s, box-shadow 0.3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

    color: #757575;
    font-size: 12px;
    font-weight: 500;
    font-family: $fontPrimary;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: $secondary-text-color;
    background-repeat: no-repeat;
    background-position: 12px 11px;
  }

  @media screen and (min-width: $desktop) {
    transition: background-color 0.3s, box-shadow 0.3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

    color: #757575;
    font-size: 12px;
    font-weight: 500;
    font-family: $fontPrimary;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: $secondary-text-color;
    background-repeat: no-repeat;
    background-position: 12px 11px;
  }
}

.failure-message {
  width: fit-content;
  margin: 5px auto;

  color: #ff001b;
  font-family: $fontPrimary;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  font-weight: 400;
}
