.theme__container {
  position: relative;
}

.dark {
  background-color: black;
}
.sun,
.moon {
  font-size: 12px;
}
.moon {
  position: absolute;
  inset: 0;
}
.moon-logo {
  opacity: 0;
  transform: translateY(20%) rotateZ(50deg);
  transition: all 250ms ease-out;
}
.sun-logo {
  opacity: 1;
  transform: translateY(0) rotateZ(0deg);
  transition: all 250ms ease-out;
}
.animate-sun {
  opacity: 0;
  transform: translateY(0%) rotateZ(100deg);
}
.animate-moon {
  opacity: 1;
  transform: translateY(0%) rotateZ(0deg);
}
.animate-moon path {
  fill: white;
}
.animate-sun path {
  fill: white;
}

.sun__fill {
  fill: #fce570;
}
