html {
    scroll-behavior: smooth;
}

.scroll-btn {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 25px;
    right: 30px;
    border: 3px solid rgba(255, 107, 8, 0.8);
    border-radius: 50%;
    z-index: 100;
    pointer-events: none;
    color: rgba(255, 107, 8, 0.8);
    background-color: rgba(255, 107, 8, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: 0;
    transition: .5s;
}

.scroll-img {
    fill: rgba(255, 107, 8, 0.8);
}

.is-activ {
    opacity: 1;
    visibility: 1;
    pointer-events: auto;
    bottom: 40px;
}
